{% extends 'layout.html' %}

{% block content %}
{% load static %}
<header class="row bg-black">
    <div class="col-md-4">
        <img src="{% static 'portfolio/profile.jpg' %}" alt="Foto de perfil" class="img-fluid">
    </div>
    <div class="col-md-8 my-auto">
        <h1>I am <strong>Santiago Higuita</strong></h1>
        <h3>I am a Python Developer</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium quod quae modi aperiam. Magnam pariatur at numquam aliquam iure omnis maiores accusamus. Unde a voluptatum nemo, rerum modi sapiente facere reprehenderit commodi error quae earum, nam sint eos sit illum pariatur ipsam eum laborum quas libero? Nemo quas at sed itaque! Aliquid vero, tempore ipsam voluptates, maiores laudantium dignissimos ea repellat ex quis expedita nihil vitae rem atque? Beatae aliquid delectus qui amet voluptatem aliquam, molestiae modi vero dolorum alias, officia mollitia asperiores? Veritatis illum, voluptatem blanditiis consequuntur pariatur dolor ullam eligendi, nulla dolorem magnam ipsam officiis possimus aut nam.</p>
        <a href="{% static 'portfolio/CV.pdf' %}" class="btn btn-primary btn-lg rounded-0 my-3">Download CV</a>
    </div>
</header>

<div class="row my-4 text-center">
    <h3>My projects</h3>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ratione, modi.</p>

    {% for project in projects %}
    <div class="col-md-4 p-4">
        <div class="card bg-black card-project">
            <img src="{{ project.image.url }}" alt="{{ project.title }}" class="card-img-top" />
            <div class="card-body">
                <h2>{{ project.title }}</h2>
                <p>{{ project.description }}</p>
                
                {% if project.url %}
                <a href="{{ project.url }}" class="btn btn-light rounded-0 btn-sm" target="_blank">{{ project.url }}</a>
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock content %}